{% extends "base.html" %}

{% block head %}
    <title>Carrinho de Compras</title>
{% endblock head %}

{% block body %}

{% import 'components/Product.html' as prod %}

<div class="card-cart">
<div class="row">
	<aside class="col-lg-9">
<div class="card">
<table class="table table-borderless table-shopping-cart">
<thead class="text-muted">
<tr class="small text-uppercase">
  <th scope="col">Produto</th>
  <th scope="col" width="120">Quantidade</th>
  <th scope="col" width="120">Preço</th>
  <th scope="col" class="text-right" width="200"> </th>
</tr>
</thead>
<tbody>
    {% for row in carrinho %}
    {{ prod.onCart(row) }}
    {% endfor %}
</tbody>
</table>


<div class="card-body border-top">
	<p class="icontext"><i class="icon text-success fa fa-truck"></i> Entrega grátis entre 1-2 semanas</p>
</div> <!-- card-body.// -->

</div> <!-- card.// -->

	</aside> <!-- col.// -->
	<aside class="col-lg-3">

<div class="card mb-3">
<div class="card-body">
<form>
	<div class="form-group">
		<label>Tem um cupom?</label>
		<div class="input-group">
			<input type="text" class="form-control" name="" placeholder="Código do cupom">
			<span class="input-group-append"> 
				<button class="btn btn-primary">Aplicar</button>
			</span>
		</div>
	</div>
</form>
</div> <!-- card-body.// -->
</div> <!-- card.// -->

<div class="card">
<div class="card-body">
		<dl class="dlist-align">
		  <dt>Preço total:</dt>
		  <dd class="text-right" id="cart-total">R$ {{total}}</dd>
		</dl>
		<dl class="dlist-align">
		  <dt>Desconto:</dt>
		  <dd class="text-right text-danger">- R$ 10.00</dd>
		</dl>
		<dl class="dlist-align">
		  <dt>Total:</dt>
		  <dd class="text-right text-dark b" id="cart-discounted"><strong>R$ {{total-10}}</strong></dd>
		</dl>
		<hr>
		<p class="text-center mb-3">
			<img src="/static/img/payments.png" height="26">
		</p>
		<form action="" method="POST">
			<button name="purchase" value="0" class="btn btn-primary btn-block" type="submit"> Finalizar compra </button>
		</form>
		<a href="/" class="btn btn-light btn-block">Continuar comprando</a>
</div> <!-- card-body.// -->
</div> <!-- card.// -->

	</aside> <!-- col.// -->


</div>
</div>
{% endblock body %}

{% block script %}
<script src="/static/js/carrinho.js" type="text/javascript"></script>
{% endblock script %}