<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Page Test</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link href="static/styles/bootstrap-ec.css" rel="stylesheet" type="text/css">
	<link href="static/styles/ui-ec.css" rel="stylesheet" type="text/css">
	<link href="static/styles/responsive-ec.css" rel="stylesheet">
	<link href="static/styles/all-ec.min.css" rel="stylesheet">
	<link href="static/styles/style-ec.css" rel="stylesheet">
</head>

<body>
	<output>
		<section class='section-content padding-y bg'>
			<div class='container'>
				<div class='row'>
					<!-- 4 rows aqui -->
				</div>
			</div>
		</section>
	</output>
</body>

</html>
