* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: "Poppins", sans-serif;
    background-color: #252c33;
  }
  
  html, body {
    height: 100vh;
  }
  
  body {
    margin: 0;
  }
  
  #root {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  body, input, button, textarea {
    font: 300 Poppins;
    color: #F8F8FC;
  }
  
  


