{% macro onIndex(title, img, price, pid) -%}
<div class="col-md-3">
    <figure class="card card-product-grid">
        <div class="img-wrap">
            <a href="/produto/{{pid}}"><img src="{{img}}"></a>
            <a class="btn-overlay" href="/produto/{{pid}}"><i class="fa fa-search-plus"></i> Ver mais</a>
        </div>
        <figcaption class="info-wrap">
            <a href="/produto/{{pid}}" class="title">{{title}}</a>
            <div class="mt-2">
                <var class="price">R$ {{price}}</var>
                <button class="btn btn-sm btn-outline-primary float-right" value="{{pid}}">Comprar <i class="fa fa-shopping-cart"></i></button>
            </div>
        </figcaption>
    </figure>
</div>
{%- endmacro %}

{% macro onCart(row) -%}
<tr>
	<td>
		<figure class="itemside align-items-center">
			<div class="aside">
                <a href="/produto/{{row[0]}}">
                    <img src="{{row[2]}}" class="img-sm">
                </a>
            </div>
			<figcaption class="info">
				<a href="/produto/{{row[0]}}" class="title text-dark"> {{row[1]}} </a>
				<p class="text-muted small">Vendido por: {{row[4]}}</p>
			</figcaption>
		</figure>
	</td>
	<td> 
		<div class="col"> 
            <div class="input-group input-spinner">
                <form action="" method="POST" class="input-group-prepend">
                    <button name="button-minus" class="btn btn-light" type="submit" id="button-minus" value="{{row[0]}}"> <i class="fa fa-minus"></i> </button>
                </form>
                <input type="text" class="form-control" value="{{row[5]}}">
                <form action="" method="POST" class="input-group-append">
                    <button name="button-plus" class="btn btn-light" type="submit" id="button-plus" value="{{row[0]}}"> <i class="fa fa-plus"></i> </button>
                </form>
            </div>
        </div>
	</td>
	<td> 
		<div class="price-wrap"> 
			<var class="price">R$ {{row[3] * row[5]}}</var> 
			<small class="text-muted"> R$ {{row[3]}} cada </small> 
		</div>
	</td>
	<td class="text-right"> 
        <form action="" class="col flex-grow-0 text-right" method="POST">
            <button class="btn btn-light" type="submit" name="remove" value="{{row[0]}}"> <i class="fa fa-times"></i> </button>
        </form>
	</td>
</tr>
{%- endmacro %}

{% macro onHistory(row, consumer=True) -%}
<tr>
    <td>
        <img src="{{row[2]}}" class="img-xs border">
    </td>
    <td>
        <span class="text-muted">{{row[3]}}× </span><p class="title mb-0">{{row[1]}}</p>
        <var class="price text-muted">R$ {{row[4]}}</var>
    </td>
    {% if consumer %}
    <td> Fornecido por <br> {{row[5]}} </td>
    
    {% else %}
    <td> Vendido para: {{row[6]}} <br> Por: {{row[5]}} </td>

    {% endif %}
    <td>
        {% if consumer %}
        <a href="#" class="btn  btn-primary" id="btn-buy" value="{{pid}}"> Comprar novamente </a>
        <a href="/produto/{{row[0]}}" class="btn btn-light"> Página do Produto </a>
        {% else %}
        <span class="b">R$ {{row[4] * 0.01}} </span>
        {% endif %}
    </td>
</tr>
{%- endmacro %}

{% macro editable(row, images) -%}

<div style="display: none;" id="hidden-content-{{row[0]}}">
    <div class="card-body">
        <h4 class="card-title mb-4">Feedback</h4>
        <form action="" method="POST" enctype="multipart/form-data">
            <div class="form-row">
                <div class="col form-group">
                    <label>Nome</label>
                      <input name="name" type="text" class="form-control" value="{{row[2]}}">
                </div>
            </div>
          <div class="form-row">
              <div class="col form-group">
                  <label>Preço</label>
                    <input name="value" type="number" class="form-control" value="{{row[6]}}">
              </div>
              <div class="col form-group">
                  <label>Quantidade</label>
                    <input name="qtd" type="number" class="form-control" value="{{row[5]}}">
              </div>
          </div>
          <div class="form-group">
              <label>Descrição</label>
              <input name="description" type="textarea" class="form-control" value="{{row[3]}}">
          </div>
          <div class="form-group">
              <label>Imagens</label>
              <div class="thumbs-wrap">

                {% for image in images %}
                <div class="item-thumb"> <img src="{{image}}"></div>
                {% endfor %}

              </div>
              <label for="exampleFormControlFile1">
                  <input name="files" type="file" class="form-control-file" multiple>
              </label>
          </div>
          <button type="submit" name="id" value="{{row[0]}}" class="btn btn-primary btn-block">Confirmar</button>
        </form>
    </div>
</div>


<tr>
    <td>
        <a href="/produto/{{row[0]}}"><img src="{{row[4]}}" class="img-xs border"></a>
    </td>
    <td>
        <p class="title mb-0">{{row[2]}}</p>
        <var class="price text-muted">R$ {{row[6]}}</var>
    </td>
    <td>
        <a class="fancybox btn btn-primary" data-fancybox data-src="#hidden-content-{{row[0]}}" href="javascript:;">
            Editar
        </a>
    </td>
</tr>

{%- endmacro %}